<table class="table">
  <% attributes = { "Name" => "name", "Position" => "position", "Salary" => "salary", "Date of Birth" => "date_of_birth" } %>
  <% attributes.each do |label, attribute| %>
    <tr>
      <th><%= label %></th>
      <td><%= @employee.dig(attribute) %></td>
    </tr>
  <% end %>
</table>
